body {
  background: #9669DBFA;
}

h1 {  
  height : 14vh;
  width: 50vw;
  background: white;
  text-align: center;
  line-height: 12vh;
  border: 10px solid black;
  font-size: 100px;
  margin: 18vh 0 0 18vw;
}
#error {
  position: absolute;
  color : red;
  font-size : 50px;
  margin: -15vh 0 0 13vw;
}
#container {
  height: 15vh;
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10vh 0 0 12vw;
  font-size: 30px;
  color: #FF0000;
}

input {
  height: 60px;
  width: 45vw;
  border: none;
  background: #FFFFFF59;
  border-bottom: 5px solid blue;
  font-size: 20px;
  color: black;
  text-align: center;
}
button {
  height: 50px;
  width: 15vw;
  border: 5px solid black;
  border-radius: 20px;
  font-size: 20px;
  background: lightgreen;
  margin: 0vh 0 0 37vw;
}
